/* ===== Footer ===== */
.site-footer {
  container-type: inline-size;
  z-index: 2;
  padding-left: var(--margin-s);
  padding-right: var(--margin-s);
  padding-bottom: var(--margin-s);
  background-color: var(--hex-bg-1);
}

/* 桌面端 footer padding */
@media (min-width: 900px) {
  .site-footer {
    padding-left: var(--margin-m);
    padding-right: var(--margin-m);
    padding-bottom: var(--margin-m);
  }
}

.site-footer-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--hex-bg-4);
  padding-top: var(--margin-s);
}

.footer-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--margin-m);
  padding-bottom: var(--margin-m);
}

.footer-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  column-gap: var(--margin-m);
}

.footer-block-sponsors {
  max-width: 300px;
}

.footer-block-links {
  flex-direction: row;
}

/* ===== Footer Logo ===== */
.footer-logo-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-end;
}

.footer-logo {
  margin-top: var(--margin-xxxs);
  margin-bottom: var(--margin-xxxs);
}

.footer-logo img {
  height: 1.5rem;
  width: auto;
}

.footer-logo span {
  display: none;
}

.footer-copyright {
  color: var(--hex-fg-4);
  font-size: var(--text-xs);
}

.footer-copyright a:not(:hover) {
  text-decoration: none;
}

/* ===== Email Signup ===== */
.email-signup-form {
  width: 100%;
  position: relative;
}

.email-signup-fields {
  display: none;
}

.email-signup-fields.is-active {
  display: flex;
}

.email-signup-field {
  flex-grow: 1;
}

.email-signup-input {
  width: 100%;
  padding: var(--margin-xs) var(--margin-xs);
  border-radius: var(--br-s) 0px 0px var(--br-s);
  font-size: var(--text-s);
  background-color: var(--hex-bg-4);
  color: var(--hex-fg-1);
  height: 2.75rem;
}

.email-signup-input::placeholder {
  color: var(--hex-fg-2);
}

.email-signup-submit {
  font-size: var(--text-s);
  padding: var(--margin-xxs) var(--margin-xs);
  border-radius: 0px var(--br-s) var(--br-s) 0px;
  background-color: var(--hex-fg-2);
  color: var(--hex-bg-4);
  font-weight: 700;
}

.email-signup-submit:hover {
  cursor: pointer;
  color: var(--hex-bg-1);
  background-color: var(--hex-fg-1);
}

.email-signup-alert {
  display: none;
  pointer-events: none;
  opacity: 0;
  z-index: 1;
  inset: 0;
  padding: var(--margin-xs) var(--margin-xs);
  border-radius: var(--br-s);
  font-size: var(--text-xs);
  min-height: 2.75rem;
}

.email-signup-alert p {
  font-size: 0.8125rem !important;
  font-weight: 600;
  text-align: center;
}

.email-signup-alert.is-active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.email-signup-error {
  color: var(--hex-red-1);
  background-color: var(--hex-red-4);
}

.email-signup-success {
  color: var(--hex-green-1);
  background-color: var(--hex-green-4);
}

/* ===== 响应式设计 ===== */
@media (max-width: 899px) {
  .footer-row {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-block-links {
    flex-direction: column;
    gap: 2rem;
  }
}
