/* ===== Sub Nav ===== */
.sub-nav {
  pointer-events: none;
  overflow: hidden;
  position: fixed;
  z-index: 10;
  right: var(--margin-s);
  left: var(--margin-s);
  bottom: var(--margin-s);
  width: calc(100% - var(--margin-s) * 2);
  height: 10rem;
  border-radius: var(--br-l);
}

/* 桌面端 sub-nav 尺寸 */
@media (min-width: 900px) {
  .sub-nav {
    left: auto;
    height: 16rem;
    width: var(--max-box-width);
    right: var(--margin-l);
    bottom: var(--margin-l);
  }
}

/* ===== Progress Card ===== */
.home-progress-card {
  opacity: 0;
  position: absolute;
  z-index: 10;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  border-radius: var(--br-l);
  background-color: var(--hex-bg-3);
}

/* ===== Scroll Bar ===== */
.scroll-bar {
  position: relative;
  display: flex;
  width: calc(100% - 2rem);
  height: 0.75rem;
  top: 0.865rem;
  left: 1rem;
  background-size: 0.7692307692% 0.5rem;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.15) 1px, transparent 1px);
}

@media (min-width: 900px) {
  .scroll-bar {
    background-size: 1.5384615385% 0.5rem;
  }
}

/* ===== Scroll Cursor ===== */
.scroll-cursor {
  position: absolute;
  z-index: 100;
  flex-shrink: 0;
  top: -0.125rem;
  width: 3px;
  height: 1rem;
  background-color: var(--hex-red-1);
  border-radius: 3px;
  will-change: transform;
}

.scroll-cursor:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 100;
  inset: -0.5rem;
  background: transparent;
}

.scroll-cursor-ghost {
  opacity: 0;
  background-color: var(--hex-red-2);
  pointer-events: none;
}

/* ===== Data Card ===== */
:global([data-card]) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  width: 100%;
  padding: calc(var(--margin-xs) - 2px) var(--margin-s) var(--margin-xs) var(--margin-s);
  border-radius: var(--br-l);
  background-color: var(--hex-bg-3);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.home-section-card {
  color: var(--hex-fg-2);
}

.sub-nav pre {
  line-height: 1em;
  margin: 0;
  font-family: var(--font-code);
}

.sub-nav pre code {
  background-color: transparent;
  font-size: var(--text-xxs);
  line-height: 1.4em;
  color: var(--hex-fg-2);
  white-space: pre-wrap;
  display: block;
}

.funding-level-box {
  bottom: 3rem;
}

/* ===== 响应式设计 ===== */
@media (max-width: 899px) {
  .sub-nav {
    display: none;
  }
}
